---
import { contentfulClient } from '../../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import type { ContentPost } from '../../lib/contentful'

import { marked } from 'marked';
const response = await fetch('https://kirewebblob.blob.core.windows.net/kire-web-assets/mdx_test.mdx');
const markdown = await response.text();
const mdxContent = marked.parse(markdown);

let post;
const { slug } = Astro.params

try {
	const data = await contentfulClient.getEntries<ContentPost>({
		content_type: 'contentPost',
		'fields.slug': slug
	})

    const { title, date, content } = data.items[0].fields;
    post = {
        title,
        date: new Date(date).toLocaleDateString(),
        content: content,
    };

} catch (error) {
	return Astro.redirect('/404')
}


console.log(post.content.content[0].data.target.fields.file.url)
// for (let i of Object.keys(post.content)) {
//   console.log(i)
// }

// console.log(JSON.stringify(post.content))
---


<html lang="en">
  <head>
    <title>{post?.title}</title>
  </head>
  <body>
    <h1>{post?.title}</h1>
    <time>{post?.date}</time>
    <!-- <article set:html={documentToHtmlString(post?.content)} /> -->
    <!-- <article set:html={post.content.content[0].data.target.fields.file.url}></article> -->
    <article set:html={mdxContent}></article>
  </body>
</html>