---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Layout from 'src/layouts/Layout.astro'
import { Icon } from 'astro-icon'
import LayoutMargin from '$layouts/LayoutMargin.astro'

const storyblokApi = useStoryblokApi()
const slug = Astro.params.slug

let content
let created_at: String
let edited_at: String
let videoID: String

try {
	const { data } = await storyblokApi.get(`cdn/stories/${slug}`, {
		version: import.meta.env.DEV ? 'draft' : 'published'
	})
	content = data.story.content

	created_at = new Date(data?.story?.first_published_at).toLocaleString('en-FI', {
		dateStyle: 'full',
		timeStyle: 'short'
	})
	edited_at = new Date(data?.story?.published_at).toLocaleString('en-FI', {
		dateStyle: 'short',
		timeStyle: 'short'
	})

	const youtubeComponent = data?.story?.content?.youtube //data?.story?.content?.body?.find((item) => item.component === 'youtube')

	if (youtubeComponent) {
		if (youtubeComponent.startsWith('https://www.youtube.com/watch?v=')) {
			//return youtubeComponent.video.split('=')[1]
			videoID = youtubeComponent.split('=')[1]
		} else if (youtubeComponent.startsWith('https://youtu.be/')) {
			//return youtubeComponent.video.split('/')[3]
			videoID = youtubeComponent.split('/')[3]
		}
	}
} catch (error) {
	console.error(error)
	return Astro.redirect('/404')
}
---

<Layout title="Blog post">
<LayoutMargin>
	<div class="flex flex-col items-center">
	<div
		class="prose max-w-6xl flex flex-col gap-1 dark:prose-invert prose-h1:text-5xl prose-img:m-0"
	>
		<button
			onclick="
			javascript: history.back()
			"
			class="flex w-fit flex-row rounded p-3 text-left text-4xl duration-200 ease-in-out hover:bg-violet-800"
		>
			<!-- <i class="fa-solid fa-arrow-left text-4xl"></i> Back</button -->
			<Icon name="mdi:chevron-left" class="w-14" />
		</button>
		<h1>{content?.title}</h1>
		<div class="ml-2">
			<div>{created_at}</div>
			{edited_at && <div class="text-sm">(Edited: {edited_at})</div>}
		</div>
		<div class="ml-2 flex self-center">
			{
				videoID ? (
					<iframe
						class="rounded-lg border-2 border-violet-800"
						width="100%"
						height="480"
						src={`https://www.youtube.com/embed/${videoID}`}
						title="YouTube video player"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen
					/>
				) : (
					<img src={content?.headerImage?.url} class="h-auto w-full max-w-4xl rounded-lg" />
				)
			}
		</div>
	</div>

	<StoryblokComponent blok={content} />
</div>
</LayoutMargin>
</Layout>
