---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";


const { blok } = Astro.props
const content = renderRichText(blok.content)

---

<article {...storyblokEditable(blok)} class="page">
  <div class="border-b-2 border-b-violet-800 pb-2 mb-10">
  <h1 class="supertitle">{blok.title}</h1>
  <p>{blok.description}</p>
  </div>
  <div class="prose dark:prose-invert prose-lg prose-code:text-green-600 prose-code:before:content-none prose-code:after:content-none prose-code:p-2 prose-code:m-1 prose-code:bg-gray-800 prose-code:rounded">
    <!-- <Fragment set:html={content}/> -->
    <RichTextRenderer richTextData={blok.content} />
  </div>
  <!-- <img src={blok.imageLink?.url}> -->
</article>

<style>
  .page {
    margin: 10px;
  }
  .supertitle {
    font-size: 3rem !important;
  }
  /* code:before {
    content: none;
  }
  code:after {
    content: none;
  } */
</style>
