---
import '../styles/global.scss'
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import { fade, slide } from 'astro:transitions'
import Header from '$components/main/Header.astro'
import Footer from '../components/main/Footer.astro'
// import { checkForState, checkForSession, fetchUserDetails, supabase } from '$lib/supabaseClient'
import { profile } from '$components/stores/profile'

// let state = await checkForState(Astro.request)
// let user = fetchUserDetails()
// let session = checkForSession()
// Astro.cookies.set("state", state)
// Astro.cookies.set("user", user)
// Astro.cookies.set("session", session)

export interface Props {
	title: string
	// user: object;
}

const { title } = Astro.props as Props
// const { title, user } = Astro.props as Props;
// const isLoggedIn = !(user == null);
// console.log("LAYOUT:", user)

let counter: Number = 0

const cookie = Astro.cookies.get('counter')
if (cookie) {
	counter = cookie.number() + 1
}
Astro.cookies.set('counter', counter)

let currentUser
profile.subscribe((prof) => {
	// document.getElementById("nanoTest").innerHTML = JSON.stringify(prof)
	currentUser = JSON.stringify(prof)
})
---

<!DOCTYPE html>
<!-- <html lang="en" transition:animate={slide({ duration: '1s' })}> -->
<html lang="en" transition:animate={slide({ duration: '0.5s' })}>
	<!-- <html lang="en"> -->
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<script src="https://kit.fontawesome.com/747d59d837.js" crossorigin="anonymous"></script>
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/jpg" href="/unnaafwafwfmed.jpg" />
		<meta name="generator" content={Astro.generator} />

		<ViewTransitions fallback="swap" />

		<title>{title}</title>
		<SEO
			title="Kire-web, a Website powered by Astro"
			description="App prototype built with Astro and Supabase authentication, deployed to Vercel"
			twitter={{
				card: 'summary',
				site: '@wahlstra'
			}}
			extend={{
				meta: [
					{
						name: 'twitter:image',
						content: 'https://astro-supabase-vercel.vercel.app/preview.png'
					},
					{ name: 'twitter:title', content: 'Astro Supabase Vercel website' },
					{
						name: 'twitter:description',
						content:
							'App prototype built with Astro and Supabase authentication, deployed to Vercel'
					}
				]
			}}
		/>
	</head>
	<body class="smooth-scroll flex flex-col">
		<pre
			class="construction text-center text-2xl font-extrabold text-black">&#128679 UNDER HEAVY CONSTRUCTION BECAUSE WORKERS UNIONIZED &#128679</pre>
		<!-- <div id="nanoTest">{currentUser}</div> -->
		<Header />

		<main class="flex-1">
			<slot />
		</main>

		<h2 class="flex">
			Refresh counter test =
			<div
				class="bg-gradient-to-tr from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% bg-clip-text font-extrabold text-transparent"
			>
				{counter}
			</div>
		</h2>

		<Footer />
		<!-- <div class="container mx-auto px-4 font-outfit">
			<div class="flex flex-col items-center pt-20 pb-12 prose-a:text-blue-800 prose-blockquote:text-gray-500 prose-blockquote:border-l prose-blockquote:border-l-4 prose-blockquote:border-emerald-500 prose-blockquote:font-light">
				<h1 class="text-3xl md:text-7xl text-white">Astro + Supabase + Vercel</h1>
				<LoginStatus isLoggedIn={isLoggedIn}></LoginStatus>
				<div class="pt-8 max-w-xl">
					<article class="prose-lg lg:prose-xl">
						<slot/>
					</article>
				</div>
			</div>
		</div> -->
	</body><!-- <script>
	import { profile } from "$components/stores/profile";

	profile.subscribe(prof => {
		document.getElementById("nanoTest").innerHTML = JSON.stringify(prof)
	})
</script> --><!-- <style is:global>
	
</style> -->
	<style>
		.smooth-scroll {
			scroll-behavior: smooth;
		}
	</style>
</html>
